<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML5 Links</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>

    <a id="new-tab-link" class="link-block" href="https://qu.edu.sa/" target="_blank">
        Go to QU website (open a new tab).
    </a>

    <a id="same-tab-link" class="link-block" href="https://qu.edu.sa/">
        Go to QU website (open in the same page/tab)
    </a>

    <a id="active-link" class="link-block" href="https://qu.edu.sa/">
        Go to QU website (open in the same page/tab)
    </a>

</body>
</html>
